.TopSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  color: var(--light-gray-color);
}

.TopSection div:first-child {
  margin-right: 20px;
}

.TopSection label {
  margin-right: 5px;
  font-size: 14px;
}

.TopSection input {
  background-color: #ffffff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  padding-left: 8px;
  color: var(--light-gray-color);
  height: 38px;
  max-width: 100%;
  box-shadow: none;
  transition: all 300ms linear;
}

@media only screen and (max-width: 960px) {
  .TopSection label {
    display: none;
  }
}
