.TableContainer {
  width: 100%;
}

.TableHead {
  background-color: #ff337d4a;
}

.TableHead th {
  font-weight: 600;
  padding: 16px;
  color: #ff337e;
  text-align: inherit;
  cursor: pointer;
}

.TableHead th span {
  display: flex;
}

.TableHead th i {
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
}

.TableHead th span i svg {
  margin-left: 4px;
}

.TableBody tr td {
  padding: 16px;
  color: #666666;
  cursor: default;
}

.TableBody tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.041);
}

.TableBody tr:hover {
  background-color: rgba(0, 0, 0, 0.041);
}

.EditRow {
  display: flex;
  align-items: center;
}

.EditRow svg {
  cursor: pointer;
}

.EditRow button {
  background-color: transparent;
}

.EditRow button:first-child {
  margin-right: 20px;
}

.Disabled {
  color: grey;
}

.CheckIcon {
  color: rgb(34, 177, 34);
}

.EditIcon,
.BackIcon {
  color: #e0125dc0;
}

.CheckIcon,
.EditIcon,
.Disabled {
  width: 20px;
  height: 20px;
}

.BackIcon {
  width: 18px;
  height: 18px;
}

.NoData {
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: default;
}

.errMessage {
  color: red;
  font-size: 11px;
  padding-top: 4px;
}

.Input {
  background-color: #ffffff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  padding-left: 8px;
  color: #565656;
  height: 38px;
  max-width: 100%;
  box-shadow: none;
  transition: all 0.3s linear;
}

.hasError {
  border: 1px solid red;
}

@media only screen and (max-width: 960px) {
  .TableContainer {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    white-space: nowrap;
  }

  .TableContainer .TableBody {
    width: 100%;
  }
}
